path {
    fill: var(--svg-land-enabled);
    stroke-width: 0.05%;
    stroke: black;
}
g g path:hover {
    fill: rgb(210, 211, 117);
}

g g path.enabled {
    fill: rgb(106, 235, 89);
}
g g path.enabled:hover {
    fill: rgb(86, 215, 69);
}

g g path.disabled {
    fill: grey;
    stroke-width: 0.05%;
}
g g path.disabled:hover {
    fill: rgb(108, 108, 108);
}

g g path.outside {
    fill: rgb(77, 77, 77);
    stroke-width: 0.05%;
}
g g path.outside:hover {
    fill: rgb(54, 54, 54);
}

#map-outline {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

/* Region Type Button panel */

#state-buttons-panel {
    position: absolute;
    transform: translate( calc(-50% - 50px) );
    display: none;

    button {
        position: relative;

        &:hover aside {
            position: absolute;
            top: 0;
            left: -100%;
            transform: translate(calc(-100% + 15px), -2px);
            display: block;
            background-color: var(--green-1);
            border: 3px solid var(--green-2);
            border-radius: 5px;
            padding: 1px;
            padding-right: 5px;
            padding-left: 5px;
        }

        /* For tooltips */
        aside {
            display: none;
        }
    }
}

#enabled-btn {
    background-color: rgb(106, 235, 89);
    
    &:hover {
        background-color: rgb(86, 215, 69);
    }
}

#deselect-btn {
    background-color: var(--svg-land-enabled);

    &:hover {
        background-color: rgb(210, 211, 117);
    }
}

#disabled-btn {
    background-color: grey;

    &:hover {
        background-color: rgb(108, 108, 108);
    }
}

#outside-btn {
    background-color: rgb(77, 77, 77);

    &:hover {
        background-color: rgb(54, 54, 54);
    }
}

svg.zoom-1 path { stroke-width: 0.25px; }
svg.zoom-2 path { stroke-width: 0.20px; }
svg.zoom-3 path { stroke-width: 0.16px; }
svg.zoom-4 path { stroke-width: 0.13px; }
svg.zoom-5 path { stroke-width: 0.10px; }

#map-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;

    input[type="range"] {
        width: 150px;
    }
}


#top-map-bar {
    width: 100%;
    display: flex;
    gap: 5px;
}

#templateMap {
    background-color: var(--svg-ocean);
}

#selected-list {
    max-width: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 50px;

    h5 {
        color: var(--green-4);
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.icon-selected {
    background-image: url("../images/check.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    color:rgb(27, 133, 27);
    -webkit-text-stroke: 1px white;
    text-shadow: 5px 5px 10px black;
}