polygon {
    fill: rgb(230, 231, 137);
    stroke-width: 0.05%;
    stroke: black;
}
g g g:has( polygon:hover ) polygon {
    fill: rgb(210, 211, 117);
}

g g g.enabled polygon {
    fill: rgb(106, 235, 89);
    stroke: black;
}
g g g.enabled:has( polygon:hover ) polygon {
    fill: rgb(86, 215, 69);
}

g g g.disabled polygon {
    fill: grey;
    stroke-width: 0.05%;
    stroke: black;
}
g g g.disabled:has( polygon:hover ) polygon {
    fill: rgb(108, 108, 108);
}

g g g.herring polygon {
    fill: rgb(240, 219, 35);
    stroke-width: 0.05%;
    stroke: black;
}
g g g.herring:has( polygon:hover ) polygon {
    fill: rgb(220, 199, 15);
}

g g g.outside polygon {
    fill: rgb(77, 77, 77);
    stroke-width: 0.05%;
    stroke: black;
}
g g g.outside:has( polygon:hover ) polygon {
    fill: rgb(54, 54, 54);
}

#map-outline {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

/* Type Buttons */

#state-buttons-panel {
    position: absolute;
    transform: translate( calc(-50% - 50px) );
}

#enabled-btn {
    background-color: rgb(106, 235, 89);
}
#enabled-btn:hover {
    background-color: rgb(86, 215, 69);
}

#deselect-btn {
    background-color: rgb(230, 231, 137);
}
#deselect-btn:hover {
    background-color: rgb(210, 211, 117);
}

#disabled-btn {
    background-color: grey;
}
#disabled-btn:hover {
    background-color: rgb(108, 108, 108);
}

#herring-btn {
    background-color: rgb(240, 219, 35);
}
#herring-btn:hover {
    background-color: rgb(220, 199, 15);
}

#outside-btn {
    background-color: rgb(77, 77, 77);
}
#outside-btn:hover {
    background-color: rgb(54, 54, 54);
}

svg.zoom-1 polygon { stroke-width: 0.25px; }
svg.zoom-2 polygon { stroke-width: 0.20px; }
svg.zoom-3 polygon { stroke-width: 0.16px; }
svg.zoom-4 polygon { stroke-width: 0.13px; }
svg.zoom-5 polygon { stroke-width: 0.10px; }

#map-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

#map-container input[type="range"] {
    width: 150px;
}

#top-map-bar {
    width: 100%;
    display: flex;
    gap: 5px;
}

#templateMap {
    background-color: rgb(141, 209, 226);
}

#selected-list {
    max-width: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 50px;
}

#selected-list h5 {
    color: rgb(16, 97, 43);
}

#selected-list div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}