polygon {
    fill: grey;
    stroke-width: 0.05%;
    stroke: rgb(68, 68, 68);
}
g:has( polygon:hover ) polygon {
    fill: rgb(108, 108, 108);
}

g.selected polygon {
    fill: rgb(230, 231, 137);
    stroke: black;
}
g.selected:has( polygon:hover ) polygon {
    fill: rgb(210, 211, 117);
}

svg.zoom-1 polygon { stroke-width: 0.25px; }
svg.zoom-2 polygon { stroke-width: 0.20px; }
svg.zoom-3 polygon { stroke-width: 0.16px; }
svg.zoom-4 polygon { stroke-width: 0.13px; }
svg.zoom-5 polygon { stroke-width: 0.10px; }

#map-container {
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

#map-container input[type="range"] {
    width: 150px;
}

#templateMap {
    background-color: rgb(141, 209, 226);
}

#selected-list {
    max-width: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 50px;
}

#selected-list h5 {
    color: rgb(16, 97, 43);
}

#selected-list div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#select-buttons-panel {
    position: absolute;
    transform: translate( calc(-50% - 50px) );
}

#select-button {
    background-color: rgb(230, 231, 137);
}
#select-button:hover {
    background-color: rgb(210, 211, 117);
}

#deselect-button {
    background-color: grey;
}
#deselect-button:hover {
    background-color: rgb(108, 108, 108);
}