#game-area {
    width: 80%;
    resize: horizontal;
    overflow: auto;
}

svg {
    border: 8px solid rgb(28, 134, 64);
    background-color: rgb(141, 209, 226) !important;
    /* background-image: url(../images/USA_Map.png); */
    background-size: cover;
}

g.groupClickable:hover polygon {
    fill: rgb(210, 211, 117);
}
g.groupClickable:active polygon {
    fill: rgb(190, 191, 97);
}

polygon {
    fill: rgb(230, 231, 137);
    stroke-width: 0.1%;
    stroke: rgb(46, 46, 26);
}

@media screen and (max-width : 600px) {
    #game-area {
        width: 100%;
    } 
}