#game-area {
    width: 80%;
    background-color: rgb(31, 151, 71);
}

#prompt-bar {
    display: none;
    justify-content: space-between;
    border: 3px solid rgb(28, 134, 64);
    border-bottom: none;
    padding: 5px;
    background-color: rgb(31, 151, 71);
}

#prompt-bar * {
    font-size: 1.5rem;
}

#prompt-bar input {
    max-width: 300px;
    padding-left: 5px;
    color: black;
}

#svg-container {
    width: 100%;
    height: 100%;
    border: 8px solid rgb(28, 134, 64);
}

svg {
    display: block;
    background-color: rgb(141, 209, 226) !important;
}

svg.zoomed polygon {
    stroke-width: 0.25px;
}

g.groupClickable:hover polygon {
    fill: rgb(210, 211, 117);
}
g.groupClickable:active polygon {
    fill: rgb(190, 191, 97);
}

g.typed polygon {
    fill: rgb(106, 235, 89);
}
g.typeCurrent polygon {
    fill: rgb(0, 255, 213);
}

g.grey-out {
    fill: grey;
    stroke-width: 0.1%;
    stroke: rgb(88, 88, 88);
}

polygon {
    fill: rgb(230, 231, 137);
    stroke-width: 0.1%;
    stroke: rgb(46, 46, 26);
}

.clickLabel {
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: white;
    color: black;
    font-size: 0.75rem;
    cursor: default;
}

#tooltip {
    display: none;
    position: absolute;
    border: 2px solid rgb(28, 134, 64);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(31, 151, 71);
    font-size: 1rem;
}

#no-map-area {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    border: 8px solid rgb(28, 134, 64);
}

#no-map-area p {
    width: 100%;
    max-width: 250px;
    height: 28px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    text-align: center;
}

@media screen and (max-width : 600px) {
    #game-area {
        width: 100%;
        resize: none;
    } 
}