header {
    color: black !important;

    div {
        padding: 2px;
        background-color: rgb(31, 151, 71);
    }

    nav {
        padding: 2px;
        background-color: rgb(28, 134, 64);

        a {
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline ;
            }
        }
    }
}