header {
    color: black !important;
}

header div {
    padding: 2px;
    background-color: rgb(31, 151, 71);
}

header nav {
    display: flex;
    gap: 5px;
    padding: 2px;
    background-color: rgb(28, 134, 64);
}

header nav a {
    text-decoration: none;
    cursor: pointer;
}
header nav a:hover {
    text-decoration: underline ;
}

header .a-button {
    border: 1px solid rgb(28, 134, 64);
    padding: 5px;
    background-color: rgb(38, 160, 79);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
header .a-button:hover {
    background-image: linear-gradient( to top, rgb(28, 134, 64), rgb(38, 158, 78) );
}
header .a-button:active {
    background-image: linear-gradient( to top, rgb(25, 117, 56), rgb(33, 139, 69) );
}