#gamemode-panel {
    display: flex;
}

#game-end-panel {
    display: none;
}

form .input-label {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;

    &:hover {
        font-weight: bold;
    }

    label {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}
