<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/admin.css" />

    <script src="js/admin/admin.js" type="module"></script>
    <script src="js/admin/fileUpload.js" type="module"></script>
    <script src="js/admin/regionActions.js" type="module"></script>
    <script src="js/admin/generateFiles.js" type="module"></script>
    <script src="js/components/header.js"></script>
</head>
<body>
    <app-header></app-header>
    <main class="flex-col-center gap-5">
        <div id="button-panel" class="flex-col-center gap-5">
            <!-- File Upload dropdown -->
            <div id="file-upload-dropdown" class="dropdown">
                <header>
                    <h4>File Upload</h4>
                    <svg viewBox="0 0 50 50">
                        <polygon points="12.5,10 12.5,40 37.5,25 12.5,10"></polygon>
                    </svg>
                </header>
                <section id="file-upload-dropdown-body" hidden class="flex-col dropdown-body gap-5">
                    <form id="upload-form" class="flex-col gap-5">
                        <div class="flex-row-between">
                            <div class="input-label">
                                <label for="file-input">Select file to upload</label>
                                <input type="file" accept=".geojson, .kml" name="mapfile" id="file-input" required>
                            </div>
                            <button type="submit" id="upload-btn" class="btn-grey hover-fade">Upload</button>
                        </div>
                        <div class="dotted-line"></div>
                        <div class="flex-row-between-start">
                            <div class="flex-col">
                                <h6>Properties:</h6>
                                <pre id="preview"></pre>
                            </div>
                            <div class="flex-col-start">
                                <h6>Select:</h6>
                                <div class="input-label">
                                    <label for="map_name">Map name:</label>
                                    <input name="map_name" type="text" id="map_name" required>
                                </div>
                                <div class="input-label">
                                    <label for="region_type">Region type:</label>
                                    <input name="region_type" type="text" id="region_type" required>
                                </div>
                                <div class="input-label">
                                    <label for="region_name_key">Region name key:</label>
                                    <input name="region_name_key" type="text" id="region_name_key" required>
                                </div>
                            </div>
                        </div>
                        <div class="dotted-line"></div>
                        <section id="map-section" class="flex-col">
                            <svg id="map-preview" viewBox="0 0 1600 900">

                            </svg>
                            <!-- Map modification buttons -->
                            <div id="map-modifiers">
                                <button type="button" id="move-west-btn" class="btn-grey hover-fade">Move Region to West</button>
                                <button type="button" id="move-east-btn" class="btn-grey hover-fade">Move Region to East</button>
                                <button type="button" id="delete-btn" class="btn-red hover-fade">Delete Region</button>
                                <div id="large-step-panel" class="directional-panel">
                                    <button type="button" id="large-step-north" class="btn-turquoise hover-fade north"></button>
                                    <button type="button" id="large-step-east"  class="btn-turquoise hover-fade east"></button>
                                    <button type="button" id="large-step-south" class="btn-turquoise hover-fade south"></button>
                                    <button type="button" id="large-step-west"  class="btn-turquoise hover-fade west"></button>
                                </div>
                                <div id="small-step-panel" class="directional-panel">
                                    <button type="button" id="small-step-north" class="btn-turquoise hover-fade north"></button>
                                    <button type="button" id="small-step-east"  class="btn-turquoise hover-fade east"></button>
                                    <button type="button" id="small-step-south" class="btn-turquoise hover-fade south"></button>
                                    <button type="button" id="small-step-west"  class="btn-turquoise hover-fade west"></button>
                                </div>
                                <button type="button" id="shrink-btn" class="btn-grey hover-fade">Shrink</button>
                                <button type="button" id="grow-btn" class="btn-grey hover-fade">Grow</button>
                            </div>
                        </section>
                    </form>
                </section>
            </div>
            <!-- Region Actions dropdown -->
            <div id="region-actions-dropdown" class="dropdown">
                <header>
                    <h4>Region Actions</h4>
                    <svg viewBox="0 0 50 50">
                        <polygon points="12.5,10 12.5,40 37.5,25 12.5,10"></polygon>
                    </svg>
                </header>
                <form id="region-actions-dropdown-body" hidden class="flex-col dropdown-body gap-5">
                    <div class="flex-row-between">
                        <div class="input-label">
                            <label for="region-id-start">Region ID Start</label>
                            <input name="region-id-start" type="number" id="region-id-start">
                        </div>
                        <div class="input-label">
                            <label for="region-id-end">Region ID End</label>
                            <input name="region-id-end" type="number" id="region-id-end">
                        </div>
                        <div class="input-label">
                            <label for="parent-region-id">Parent Region ID</label>
                            <input name="parent-region-id" type="number" id="parent-region-id">
                        </div>
                    </div>
                    <button type="submit" id="set-parent-btn" class="btn-grey hover-fade">Set Parent</button>
                    <button type="submit" id="delete-region-btn" class="btn-grey hover-fade">Delete Region</button>
                </form>
            </div>
            <!-- Set Region Parent dropdown -->
            <div id="generate-files-dropdown" class="dropdown">
                <header>
                    <h4>Generate Files</h4>
                    <svg viewBox="0 0 50 50">
                        <polygon points="12.5,10 12.5,40 37.5,25 12.5,10"></polygon>
                    </svg>
                </header>
                <form id="generate-files-dropdown-body" hidden class="flex-col dropdown-body gap-5">
                    <button type="submit" id="generate-files-all-btn" class="btn-grey hover-fade">All Data</button>
                </form>
            </div>
        </div>
    </main>
    
    <!-- SVG-Path template ( it is necessary to copy path elements from inside an svg instead of creating new
         elements in a js file, since the HTML will not recognize the element ) -->
    <template id="svg-path-template">
        <svg><path></path></svg>
    </template>
</body>
</html>