<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/admin.css" />

    <script src="js/admin.js" type="module"></script>
    <script src="js/components/header.js"></script>
</head>
<body>
    <app-header></app-header>
    <main class="flex-col-center gap-5">
        <div id="main-area" class="container-2">
            <!-- Form for uploading a .geojson map file -->
            <form enctype="multipart/form-data" id="upload-file-form" class="flex-col gap-5">
                <div class="flex-row-between">
                    <div class="input-label">
                        <label for="mapfile">File upload</label>
                        <input type="file" accept=".geojson" name="mapfile" id="file-input" required>
                    </div>
                    <button type="submit" id="upload-btn" class="btn-grey">Upload</button>
                </div>
                <div id="file-info" class="flex-row-start gap-5">
                    <div class="flex-col">
                        <h6>Feature Properties:</h6>
                        <pre id="file-stream"></pre>
                    </div>
                    <div class="dotted-line"></div>
                    <div class="flex-col">
                        <h6>Select:</h6>
                        <div class="input-label">
                            <label for="region_type">Region type:</label>
                            <input name="region_type" type="text" id="region_type" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <section>
            <button></button>
            <div>
                
            </div>
        </section>
    </main>
</body>
</html>