<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/admin.css" />

    <script src="js/admin.js" type="module"></script>
    <script src="js/components/header.js"></script>
</head>
<body>
    <app-header></app-header>
    <main class="flex-col-center gap-5">
        <div id="button-panel" class="flex-col-center gap-5">
            <!-- File Upload dropdown -->
            <div id="file-dropdown" class="dropdown">
                <header>
                    <h4>File Upload</h4>
                    <svg viewBox="0 0 50 50">
                        <polygon points="12.5,10 12.5,40 37.5,25 12.5,10"></polygon>
                    </svg>
                </header>
                <section id="dropdown-body" hidden class="flex-col dropdown-body gap-5">
                    <form id="upload-form" class="flex-col gap-5">
                        <div class="flex-row-between">
                            <div class="input-label">
                                <label for="file-input">Select file to upload</label>
                                <input type="file" accept=".geojson, .kml" name="mapfile" id="file-input" required>
                            </div>
                            <button type="submit" id="upload-btn" class="btn-grey bg-fade">Upload</button>
                        </div>
                        <div class="dotted-line"></div>
                        <div class="flex-row-between-start">
                            <div class="flex-col">
                                <h6>Properties:</h6>
                                <pre id="preview"></pre>
                            </div>
                            <div class="flex-col-start">
                                <h6>Select:</h6>
                                <div class="input-label">
                                    <label for="map_name">Map name:</label>
                                    <input name="map_name" type="text" id="map_name" required>
                                </div>
                                <div class="input-label">
                                    <label for="region_type">Region type:</label>
                                    <input name="region_type" type="text" id="region_type" required>
                                </div>
                                <div class="input-label">
                                    <label for="region_name_key">Region name key:</label>
                                    <input name="region_name_key" type="text" id="region_name_key" required>
                                </div>
                                <div class="input-label">
                                    <label for="region_parent_name_key">Region parent name key:</label>
                                    <input name="region_parent_name_key" type="text" id="region_parent_name_key">
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
</body>
</html>