<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/create.css" />

    <script src="js/create.js" type="module"></script>

    <title>Create Map</title>
</head>
<body>
    <header>
        <div class="flex-row">
            <h1>Map Quiz</h1>
        </div>
        <nav>
            <a href="../">Home</a>
            <strong>></strong>
        </nav>
    </header>
    <main class="flex-col-center">
        <form class="flex-col">
            <h3>Create Custom Map</h3>
            <div class="input-label">
                <label for="map-name">Map Name</label>
                <input type="text" name="map-name" id="map-name" required>
            </div>
            <div class="input-label">
                <label for="select-template">Choose Template</label>
                <select name="select-template" id="select-template" required>
                    <option value="">Select</option>
                </select>
            </div>
            <div class="input-label">
                <label for="map-color">Select Icon Color</label>
                <input type="color" id="map-color">
            </div>
            <div class="input-label">
                <label for="map-thumbnail">Select a Thumbnail</label>
                <input type="file" accept="image/png,image/jpeg" id="map-thumbnail">
            </div>
            <button id="retrieve"></button>
            
            <nav class="flex-row">
                <button type="submit" class="btn-green" id="create-button">Create</button>
                <a href="../" class="btn-grey">Cancel</a>
            </nav>

            <aside id="state-buttons-panel" class="container-1 flex-col">
                <button class="btn-icon btn-selected" id="select-button" type="button"></button>
                <button class="btn-icon" id="deselect-button" type="button"></button>
                <button class="btn-icon" id="disabled-button" type="button"></button>
            </aside>
        </form>

        <div class="container-1" id="map-container" hidden>
            <input type="range" name="zoom" min="1" max="5" value="1" id="zoom-slider">
            <svg viewBox="0 0 1600 900" preserveAspectRatio="none" id="templateMap">
            
            </svg>
        </div>
        
        <form id="selected-list"></form>
    </main>

    <!-- Templates -->

    <!-- Polygon template ( it is necessary to copy polygons from inside an svg instead of creating new
         polygons in a js file, since a standard <polygon> element will be unrecognized ) -->
    <template id="polygon-template">
        <svg><g><polygon/></g></svg>
    </template>

</body>
</html>