<!DOCTYPE html>
<html lang="en" class="filter-dark">
<head>
    <title>Map Quiz</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/game.css"/>
    <link rel="stylesheet" href="css/gameArea.css"/>
    <link rel="stylesheet" href="css/gameSVG.css"/>
    
    <script src="js/game/game.js" type="module"></script>
    <script src="js/components/header.js"></script>
</head>
<body>
    <div id="tooltip">Click on <strong class="click-on"></strong></div>
    <app-header></app-header>
    <main class="flex-col-center gap-5">
        <!-- Shows on load and when switching gamemodes -->
        <form id="gamemode-panel" class="page-center flex-col gap-5">
            <h3>Select Gamemode</h3>
            <div class="input-label">
                <input type="radio" name="gamemode" id="learn" value="Learn">
                <label for="learn">Learn</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="click" value="Click">
                <label for="click">Click</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="clickDisappear" value="Click (Disappear)">
                <label for="clickDisappear">Click (Disappear)</label>
            </div>
            <div class="dotted-line"></div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="type" value="Type">
                <label for="type">Type</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="typeHard" value="Type (Hard)">
                <label for="typeHard">Type (Hard)</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="typeInvisible" value="Type (Invisible)">
                <label for="typeInvisible">Type (Invisible)</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="typeHardInvisible" value="Type (Hard) (Invisible)">
                <label for="typeHardInvisible">Type (Hard) (Invisible)</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="typeHardInvisibler" value="Type (Hard) (Invisibler)">
                <label for="typeHardInvisibler">Type (Hard) (Invisibler)</label>
            </div>
            <!-- <div class="input-label">
                <input type="radio" name="gamemode" id="outline" value="outline">
                <label for="outline">Outline</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="outline" value="outlineHard">
                <label for="outlineHard">Outline (Hard)</label>
            </div> -->
            <div class="dotted-line"></div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="noMap" value="No Map">
                <label for="noMap">No Map</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="noList" value="No List">
                <label for="noList">No List</label>
            </div>
            <nav class="flex-row gap-5">
                <button type="button" class="btn-green btn-fade">Select</button>
                <a href="../" type="button" class="btn-grey btn-fade">Cancel</a>
            </nav>
        </form>

        <div id="game-area">
            <!-- Top game bar -->
            <div id="prompt-bar" class="game-bar">
                <div class="flex-row gap-5">
                    <p></p>
                    <strong class="click-on"></strong>
                    <input type="text">
                    <select name="parent" id="select-parent">
                        <option value="" selected>Select <p id="parent-type"></p></option>
                    </select>
                </div>
                <div class="flex-row gap-5">
                    <p id="promptTally"></p>
                    <div class="dotted-line"></div>
                    <p id="tally"></p>
                </div>
            </div>
            <!-- Used for all gamemodes with a map -->
            <svg viewBox="0 0 1600 900" preserveAspectRatio="none" id="svg-game" class="container-1 showGuesses">
                
            </svg>
            <!-- Game bar below map -->
            <div id="bottom-game-bar" class="game-bar flex-row gap-5">
                <button id="game-settings-btn"></button>
                <div id="showNames-container" class="input-label">
                    <input type="checkbox" id="showNames">
                    <label for="showNames">Show region names</label>
                </div>
                <div class="dotted-line"></div>
                <button id="end-button" class="btn-hover-effect">End Game</button>
            </div>

            <!-- Used for No Map gamemode -->
            <div id="no-map-area" class="container-1">
                
            </div>
            <!-- Used for No List gamemode -->
            <div id="no-list-area" class="flex-col-center gap-5 container-1">
                <div id="endGame-area" class="flex-col-center gap-5">
                    <div id="unknown-regions" class="flex-col-center gap-5">
                        <h3>Unknown Regions</h3>
                    </div>
                    <div id="duplicate-regions" class="flex-col-center gap-5">
                        <h3>Duplicate Regions</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Shows after ending a game -->
        <form id="game-end-panel" class="page-center flex-col gap-5">
            <h3>Game Finished</h3>
            <nav class="flex-row gap-5">
                <button type="button" id="play-again-button" class="btn-green btn-fade">Play Again</button>
                <button type="button" id="review-button" class="btn-turquoise btn-fade">Review Map</button>
                <button type="button" id="home-button" class="btn-grey btn-fade">Home</button>
            </nav>
        </form>
    </main>

    <!-- Templates -->

    <!-- SVG-g template ( it is necessary to copy g elements from inside an svg instead of creating new
         elements in a js file, since the HTML will not recognize the element ) -->
    <template id="svg-g-template">
        <svg><g></g></svg>
    </template>

    <!-- SVG-Path template ( it is necessary to copy path elements from inside an svg instead of creating new
         elements in a js file, since the HTML will not recognize the element ) -->
    <template id="svg-path-template">
        <svg><path></path></svg>
    </template>

    <!-- For displaying typed regions in No List gamemode -->
    <template id="endGame-regions-template">
        <div class="flex-col-center gap-5">
            <h5></h5>
            <div class="flex-row-center gap-5 list-1">

            </div>
        </div>
    </template>
</body>
</html>