<!DOCTYPE html>
<html lang="en" class="filter-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/game.css"/>
    <link rel="stylesheet" href="css/gameArea.css"/>

    <script src="js/game.js" type="module"></script>

    <title>Map Quiz</title>
</head>
<body>
    <div id="tooltip">Click on <strong class="click-on"></strong></div>
    <header>
        <div class="flex-row">
            <h1>Map Quiz</h1>
        </div>
        <nav class="flex-row" id="nav-bar">
            <a href="../">Home</a>
            <strong>></strong>
        </nav>
    </header>
    <main class="flex-col-center">
        <!-- Shows on load and when switching gamemodes -->
        <form id="gamemode-panel" class="page-center flex-col">
            <h3>Select Gamemode</h3>
            <div class="input-label">
                <input type="radio" name="gamemode" id="learn" value="Learn">
                <label for="learn">Learn</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="click" value="Click">
                <label for="click">Click</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="clickDisappear" value="Click (Disappear)">
                <label for="clickDisappear">Click (Disappear)</label>
            </div>
            <div class="dotted-line"></div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="type" value="Type">
                <label for="type">Type</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="typeHard" value="Type (Hard)">
                <label for="typeHard">Type (Hard)</label>
            </div>
            <!-- <div class="input-label">
                <input type="radio" name="gamemode" id="outline" value="outline">
                <label for="outline">Outline</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="outline" value="outlineHard">
                <label for="outlineHard">Outline (Hard)</label>
            </div> -->
            <div class="dotted-line"></div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="noMap" value="No Map">
                <label for="noMap">No Map</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="noList" value="No List">
                <label for="noList">No List</label>
            </div>
            <nav class="flex-row">
                <button class="btn-green" type="button">Select</button>
                <a href="../" class="btn-grey" type="button">Cancel</a>
            </nav>
        </form>

        <!-- Shows after ending a game -->
        <form id="game-end-panel" class="page-center flex-col">
            <h3>Game Finished</h3>
            <nav class="flex-row">
                <button type="button" class="btn-green btn-fade" id="play-again-button">Play Again</button>
                <button type="button" class="btn-turquoise btn-fade" id="review-button">Review Map</button>
                <button type="button" class="btn-grey btn-fade" id="home-button">Home</button>
            </nav>
        </form>

        <div id="game-area">
            <!-- Top game bar -->
            <div class="game-bar" id="prompt-bar">
                <div class="flex-row">
                    <p></p>
                    <strong class="click-on"></strong>
                    <input type="text">
                    <select name="parent" id="select-parent" hidden>
                        <option value="" selected>Select State</option>
                    </select>
                </div>
                <p id="incorrectLabel"></p>
                <p id="tally"></p>
            </div>
            <!-- Used for all gamemodes with a map -->
            <div class="container-1" id="svg-container">
                <svg class="hide-polygons showGuesses" viewBox="0 0 1600 900" preserveAspectRatio="none">
                    
                </svg>
            </div>
            <!-- Game bar below map -->
            <div id="bottom-game-bar" class="game-bar flex-row">
                <div class="input-label" id="showNames-container">
                    <input type="checkbox" id="showNames">
                    <label for="showNames">Show region names</label>
                </div>
                <div class="dotted-line"></div>
                <div class="input-label">
                    <label for="zoom-slider">Change zoom level</label>
                    <input type="range" name="zoom" min="1" max="5" value="1" id="zoom-slider">
                </div>
                <div class="dotted-line"></div>
                <button id="noList-end-button" class="btn-hover-effect">End Game</button>
            </div>
            <!-- Used for No Map gamemode -->
            <div class="container-1" id="no-map-area">
                
            </div>
            <!-- Used for No List gamemode -->
            <div class="flex-col-center container-1" id="no-list-area">
                <div class="flex-col-center" id="endGame-area">
                    <div class="flex-col-center" id="correct-regions">
                        <h3>Correct Regions</h3>
                    </div>
                    <div class="flex-col-center" id="missed-regions">
                        <h3>Missed Regions</h3>
                    </div>
                    <div class="flex-col-center" id="unknown-regions">
                        <h3>Unknown Regions</h3>
                    </div>
                    <div class="flex-col-center" id="duplicate-regions">
                        <h3>Duplicate Regions</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Polygon template ( it is necessary to copy polygons from inside an svg instead of creating new
         polygons in a js file, since a standard <polygon> element will be unrecognized ) -->
    <template id="polygon-template">
        <svg><g><polygon/></g></svg>
    </template>

    <!-- For displaying typed regions in No List gamemode -->
    <template id="endGame-regions-template">
        <div class="flex-col-center">
            <h5></h5>
            <div class="flex-row-center list-1">

            </div>
        </div>
    </template>
</body>
</html>