<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/game.css"/>
    <link rel="stylesheet" href="css/gameArea.css"/>

    <script src="js/game.js" type="module"></script>

    <title>Map1</title>
</head>
<body>
    <div id="tooltip">Click on <strong class="click-on"></strong></div>
    <header>
        <div>
            <h1>Geography App</h1>
        </div>
        <nav id="nav-bar">
            <a href="../">Home</a>
            <strong>></strong>
        </nav>
        <div id="covering"></div>
    </header>
    <main>
        <!-- Shows on load and when switching gamemodes -->
        <div id="gamemodePanel">
            <h3>Select Gamemode</h3>
            <div class="input-label">
                <input type="radio" name="gamemode" id="click" value="click">
                <label for="click">Click</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="clickDisappear" value="clickDisappear">
                <label for="clickDisappear">Click (Disappear)</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="clickEndless" value="clickEndless">
                <label for="clickEndless">Click (Endless)</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="type" value="type">
                <label for="type">Type</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="typeHard" value="typeHard">
                <label for="typeHard">Type (Hard)</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="typeEndless" value="typeEndless">
                <label for="typeEndless">Type (Endless)</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="noMap" value="noMap">
                <label for="noMap">No Map</label>
            </div>
            <div class="input-label">
                <input type="radio" name="gamemode" id="noList" value="noList">
                <label for="noList">No List</label>
            </div>
            <div id="gamemode-button-panel">
                <button id="btn-select">Select</button>
                <button id="btn-cancel">Cancel</button>
            </div>
        </div>

        <div id="game-area">
            <div id="prompt-bar">
                <div class="flex-row">
                    <p></p>
                    <strong class="click-on"></strong>
                    <input type="text">
                </div>
                <p id="incorrectLabel"></p>
                <p id="tally"></p>
            </div>
            <div id="svg-container">
                <svg viewBox="0 0 1600 900" preserveAspectRatio="none" style='background-color: whitesmoke'></svg>
            </div>
            <!-- Used for No Map gamemode -->
            <div id="no-map-area">
                
            </div>
        </div>
        <button id="b1">Populate svg with Polygons</button>
    </main>
    <!-- Polygon template ( it is necessary to copy polygons from inside an svg instead of creating new
         polygons in a js file, since a standard <polygon> element will be unrecognized ) -->
    <template id="polygon-template">
        <svg><g><polygon/></g></svg>
    </template>
</body>
</html>