<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/index.css" />

    <title>Map1</title>
</head>
<body>
    <header>
        <div>
            <h1>My App</h1>
        </div>
        <nav>
            <a href="../">Home</a>
            <strong>></strong>
            <a href="USA">USA</a>
            <strong>></strong>
            <a href="">All 50 States</a>
        </nav>
    </header>
    <main>
        <div class="map-region-button-container">
            <div class="map-region-button-top">
                <h3>USA</h3>
            </div>
            <div class="map-region-button-bottom">
                bottom
            </div>
        </div>
    </main>

    <!-- Templates -->
    <template id="map-region-button-template">
        <div class="map-region-button-container">
            a
        </div>
    </template>

</body>
</html>