<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/index.css" />

    <script src="js/index.js" type="module"></script>

    <title>Map1</title>
</head>
<body>
    <header>
        <div>
            <h1>Geography App</h1>
        </div>
        <nav>
            <a href="../">Home</a>
            <strong>></strong>
        </nav>
    </header>
    <main>
        <nav id="map-navigation">
        </nav>
    </main>

    <!-- Templates -->
    <template id="map-button-template">
        <a href="" class="map-button-container">
            <div class="map-button-top">
                <h4 class="map-button-label"></h4>
            </div>
            <div class="map-button-bottom"></div>
        </a>
    </template>

</body>
</html>