<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="all.css" />
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="RhodeIsland.css" />

    <script src="parse.js" type="module"></script>

    <title>Map1</title>
</head>
<body>
    <header>
        <div>
            <h1>My App</h1>
        </div>
        <nav>
            Bottom header > USA > All 50 States
        </nav>
    </header>
    <main>
        <svg viewBox="0 0 1600 900" preserveAspectRatio="none" style='background-color: whitesmoke'>
            <polygon id="RhodeIsland" points="627,40 655,38 835,33 845,31.5 932,30 932,153 962,148" />
        </svg>
    </main>
</body>
</html>