<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/home.css"/>

    <script src="js/parse.js" type="module"></script>
    <title>Map1</title>
</head>
<body>
    <header>
        <div>
            <h1>My App</h1>
        </div>
        <nav>
            Bottom header > USA > All 50 States
        </nav>
    </header>
    <main>
        <svg viewBox="0 0 1600 900" preserveAspectRatio="none" style='background-color: whitesmoke'>
            
        </svg>
        <button id="b1">HERE</button>
        <button id="b2">DELETE</button>
    </main>
    <template id="polygon-template">
        <svg>
            <polygon points="" />
        </svg>
    </template>
</body>
</html>